<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to <%= shopData.shopName %></h1>
    <p><a href="/users/register">Register</a></p>
    <p><a href="/users/login">Login</a></p>
</body>
</html>
