<!doctype html>
<html>
  <head>
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Reset Your Password</h1>
    <a href="/" class="home-link">Home</a>


    
    <!-- Display error if any -->
    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    
    <!-- Ask for the user's email -->
    <form method="POST" action="/users/resetpassword">
        <p>Email: <input type="email" name="email" required /></p>
        <p>New Password: <input type="password" name="newPassword" required /></p>
        <input type="submit" value="Reset Password" />
    </form>
  </body>
</html>
