<!doctype html>
<html>
  <head>
    <title>User List</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>User List</h1>
    <h2>Here are the registered users:</h2>
    <ul>
      <% users.forEach(function(user) { %>
        <li>
  
          Username: <%= user.username %> <br>
          Full Name: <%= user.first_name %> <%= user.last_name %> <br>
          Email: <%= user.email %><br>
          <br>
        </li>

      <% }) %>
    </ul>
  </body>
</html>
